<!DOCTYPE html>
<html lang="en">
<!-- Find Job Page -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome : <%=data.cpfname%>
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <style>
    .ipw {
      width: 50%;
    }

    .activtab {
      text-decoration: blue underline;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Job Boarding for employer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active activtab" aria-current="page" href="/cpprofile">Post Job</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cpprofile/postedjob">Posted Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/salaryguide">Responses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cpupdateprofile">Update Media</a>
          </li>
        </ul>

        <input type="hidden" id="CPNAME" name="CPNAME" value="<%=data.cpname%>">

        <li class="nav-item dropdown" style="list-style: none;">
          <a class="navbar-brand dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="<%=data.profile.replace('.','')%>"  onerror="this.src='/static/img/download.jfif'"  alt="ProfileImage" width="30" height="24"
              class="d-inline-block align-text-top">
            <b>
              <%= data.cpname%>
            </b>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cpchat/<%=data.cpemail%>">Messages!</a></li>
            <li><a class="dropdown-item" href="#">Company Reviews</a></li>
            <li><a class="dropdown-item" href="#">Subscripton</a></li>
            <li><a class="dropdown-item" href="#">Manage Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">LogOut</a></li>
          </ul>
        </li>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>

    </div>
  </nav>



  <main>
    <div class="container-fluid">
      <div style="text-align: center;">
        <button id="postjob" data-bs-toggle="modal" data-bs-target="#jobDialog" class="btn btn-success"
          value="Post Job">Post Job</button>
      </div>
      <div class="jobholder mb-4 mt-4" style="height: 75vh;max-height: 75vh;overflow-y: scroll;">

      </div>
    </div>
  </main>


  <!-- JobDialog -->
  <form action="/setjob" onsubmit="postjb(event)" method="post" enctype="multipart/form-data">
  <div class="modal fade" id="jobDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-md-down">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Post Job</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="input-group my-2">
            <span class="input-group-text" id="basic-addon1">Title</span>
            <input name="pjttl" id="pjttl" type="text" class="form-control ip"
              placeholder="Softwareenjiner,mechaniaclenjineer,doctor-type,techer,intern etc" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group my-2">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input name="pjemail" id="pjemail" type="text" value=<%=data.cpemail%> class="form-control ip"
            placeholder="" aria-label="Username"
            aria-describedby="basic-addon1">
          </div>

          <div class="input-group my-2">
            <span class="input-group-text" id="basic-addon1">For</span>
            <input type="radio" name="pjgender" value="male" class="ip form-check-input ms-3">Male <input type="radio"
              name="pjgender" value="female" class="ip form-check-input ms-3">Female
          </div>

          <div class="input-group my-2">
            <span class="input-group-text">Salary</span>
            <input name="pjsalary" id="pjsalary" type="number" class="ip form-control" style="max-width: 50%;"
              placeholder="Salary">
            <!-- <span class="input-group-text">OR</span> -->
            <!-- <input name="pjsalary" id="pjsalary1" type="range" class="ip form-control" style="max-width: 70%;" min="0" step="5000" max="100000"> -->
          </div>

          <div class="input-group my-2">
            <span class="input-group-text" id="basic-addon1"> File : </span>
            <input name="pjfile" id="pjfile" accept=".pdf" type="file" class="ip form-control">
          </div>

          <div class="input-group my-2">
            <span class="input-group-text" id="basic-addon1"> Poster : </span>
            <input name="pjposter" id="pjposter" accept=".jpg,.png,.jfif,.webp,.jpeg" type="file" class="ip form-control">
          </div>

          <div class="input-group my-2">
            <span class="input-group-text" id="basic-addon1">Description</span>
            <textarea name="pjdisc" id="pjdisc" name="" id="" class="ip form-control" cols="50" rows="3"
              placeholder="Write Something">

            </textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="pjpost" class="btn btn-primary">Post</button>
        </div>
      </div>
    </div>
  </div>
</form>



  <footer class="bg-light text-center text-white">

    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
            class="fab fa-facebook-f">Facebook</i></a>

        <!-- Twitter -->
        <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i
            class="fab fa-twitter">Twitter</i></a>


        <!-- Instagram -->
        <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
            class="fab fa-instagram">Instagram</i></a>

        <!-- Linkedin -->
        <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
            class="fab fa-linkedin-in">Linkedin</i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:#595b5c;">
      © 2023 Copyright:
      <a class="text-white" href="#">jobboarding.com</a>
    </div>
    <!-- Copyright -->
  </footer>


</div>
</body>
<script src="/static/scripts/cpprofile.js"></script>
</html>