<%- include("./templates/cpprofile_header.ejs") -%>

<div class="container-fluid" style="height: 90vh;">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Position</th>
                <th scope="col">Date :: Time</th>
                <th scope="col">Details</th>
              </tr>
        </thead>
        <tbody>
             
          <%
          let i =1;
          for (const item of apps) {%>
            <tr>
            <td scope="row"><%=i++%></td>
            <td><%=item.firstname+" "+item.lastname%></td>
            <td><%=item.ttl%></td>
            <td><%=item.date +" :: "+item.time %></td>
            <td><button data-schedule='<%=JSON.stringify(item)%>' class="btn btn-outline-primary" onclick="viewSchedule(event,<%=item.id%>,'<%=item.cpemail%>','<%=item.cpphone%>','<%=item.email%>','<%=item.ttl%>')">View</button></td>
          </tr>
          <%}%>
          <!-- <tr>
            <td scope="row">1</td>
            <td>aa</td>
            <td>bb</td>
            <td>cc</td>
            <td>dd</td>
          </tr> -->
        </tbody>
      </table>
     <!-- <span id="noob"></span> -->
      <dialog id="noob">
      </dialog>
      <script type="text/javascript" src="/static/scripts/schedule.js"></script>
</div>

<%- include("./templates/cpprofile_footer.ejs")-%>