<%- include("userprofile_header.ejs") -%>
  <div class="container">
    <div class="main-body">

      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb">

      </nav>
      <!-- /Breadcrumb -->

      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="<%= res.profile.substring(1)%>" onerror="this.src='/static/img/userprofile.webp'" alt="Admin"
                  class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4>
                    <%= res.fname + " " +res.lname%>
                  </h4>
                  <p class="text-secondary mb-1">
                    <%if(data.roll===undefined){%>
                      <%= "Add MainRole ex Backend Dev" %>
                        <%}else {%>
                           <%= data.roll%>
                          <%}%>
                  </p>
                  <!-- <p class="text-muted font-size-sm">
                    <%if(res.mainrole===undefined){%>
                      <%= "Add Address" %>
                        <%}else {%>
                          <%}%>
                  </p> -->
                  <button class="btn btn-outline-primary" onclick="document.location='/postresume'">Update Resume And
                    Profile</button>
                </div>
                <!-- <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button>
                    </div> -->
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="2" y1="12" x2="22" y2="12"></line>
                        <path
                          d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                        </path>
                      </svg>Website</h6>
                    <span class="text-secondary">
                      <%if(social.website===undefined){%>
                        No Link Availabe
                        <%}else {%>
                          <%= social.website %>
                          <%}%>
                    </span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-github mr-2 icon-inline">
                        <path
                          d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                        </path>
                      </svg>Github</h6>
                    <span class="text-secondary">
                      <%if(social.github===undefined){%>
                        No Link Availabe
                        <%}else {%>
                          <%= social.github %>
                          <%}%>
                    </span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info">
                        <path
                          d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                        </path>
                      </svg>Twitter</h6>
                    <span class="text-secondary">
                      <%if(social.twtter===undefined){%>
                        No Link Availabe
                        <%}else {%>
                          <%= social.twtter %>
                          <%}%>
                    </span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger">
                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                      </svg>Instagram</h6>
                    <span class="text-secondary">
                      <%if(social.insta===undefined){%>
                        No Link Availabe
                        <%}else {%>
                          <%= social.insta %>
                          <%}%>
                    </span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary">
                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                      </svg>Facebook</h6>
                    <span class="text-secondary">
                      <%if(social.facebook===undefined){%>
                        No Link Availabe
                        <%}else {%>
                          <%= social.facebook %>
                          <%}%>
                    </span>
                  </li>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                      data-bs-target="#editsocial">
                      Edit
                    </button>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= res.fname+" "+res.lname%>
                    </div>
                  </div>
                  <hr>
                  <div class=" row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= res.email%>
                    </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Mobile</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= res.phone%>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <% if(data.address===undefined){ %>
                      <%= "Add Address" %>
                        <% } else {%>
                          <%= data.address%>
                            <%}%>
                  </div>
                  <hr>
                  <div class="col-sm-3">
                    <h6 class="mb-0">About/Objective</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <% if(data.about===undefined){ %>
                      <%= "Add About/Objective" %>
                        <% } else {%>
                          <%= data.about%>
                            <%}%>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                      data-bs-target="#editprofile">
                      Edit
                    </button>

                  </div>
                </div>
              </div>
            </div>
            <div class="row gutters-sm">
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>Skills
                    </h6>
                    <%if(spa===undefined){%>
                      <small class="msg">No Data Found</small>
                      <%}else {%>
                        <%}%>
                          <div id="skl">
                            <%
                            for (let item in spa) {
                              if(item.toString().split('_')[0]==='skl'){
                              %> 
                              <div class="skl">
                                <small style="font-weight: bold;"><%= item.toString().split('_')[1]%></small>
                                <div class="progress mb-3" style="height: 5px">
                                  <div class="progress-bar bg-primary" role="progressbar" style="width: <%= spa[item]%>%"
                                    aria-valuenow="<%= spa[item]%>" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </div> 
                              <%} 
                            }
                            %>
                          </div>
                          <!--  Template
                    <div class="skl">
                    <small>Web Design</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 80%"
                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"><i
                        class="material-icons text-info mr-2"></i>Projects/Achivements</h6>
                    <%if(spa===undefined){%>
                      <small class="msg">No Data Found</small>
                      <%}else {%>
                        <%}%>
                          <div id="pach">
                            <%
                            for (let item in spa) {
                              if(item.toString().split('_')[0]==='poach'){
                              %> 
                              <div class="pach">
                                <small style="font-weight: bold;"><%= item.toString().split('_')[1]%></small>
                                <div class="desc mb-3">
                                  <%=spa[item]%>
                                </div>
                              </div> 
                              <%} 
                            }
                            %>
                          </div>
                          <!--
                            Template
                            <div class="pach">
                        <small>Web Design</small>
                        <div class="desc mb-3">
                          lol
                        </div>
                      </div> -->

                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#edittechnical">
                Edit
              </button>
            </div>


          </div>
        </div>

      </div>
      <div class="dialgs">

        <!--EditProfile Modal -->

        <div class="modal fade" id="editprofile" tabindex="-1" aria-labelledby="EditProfile" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="EditProfile">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/profile/upprofile" method="post" onsubmit="sendData(event,this,'upprofile')">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="fname" id="" value="<%= res.fname+" "+res.lname%>"
                        placeholder="<%= res.fname+" "+res.lname%>">
                    </div>
                  </div>
                  <hr>
                  <div class=" row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="email" id="" value="<%=res.email%>" placeholder="<%=res.email%>">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="phone" id="" value="<%=res.phone%>" placeholder="<%=res.phone%>">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="address" id="" value="<%=data.address%>" placeholder="<%=res.address%>">
                    </div>
                    <hr>
                    <div class="col-sm-3">
                      <h6 class="mb-0">About/Objective</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="about" id="" value="<%=data.about%>" placeholder="<%=res.about%>">
                    </div>
                    <hr>
                    <div class="col-sm-3">
                      <h6 class="mb-0">Add Roll</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="roll" id="" value="<%=data.roll%>" placeholder="<%=res.roll%>">
                    </div>
                    <!-- <hr>
                    <div class="col-sm-3">
                      <h6 class="mb-0">Add Location placeholder</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="locationplaceholde" id="" value="<%=res.locationplaceholde%>" placeholder="<%=res.locationplaceholde%>">
                    </div> -->
                  </div>

              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button> -->
                <input type="submit" class="btn btn-primary" value="submit">
                <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="close">
                </form>
              </div>
            </div>

          </div>
        </div>

        <!-- Edit social dialog -->
        <div class="modal fade" id="editsocial" tabindex="-1" aria-labelledby="socialModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="socialModalLabel">Edit Social Links</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/profile/upsocial" method="post" onsubmit="sendData(event,this,'upsocial')">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                      <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                          <circle cx="12" cy="12" r="10"></circle>
                          <line x1="2" y1="12" x2="22" y2="12"></line>
                          <path
                            d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                          </path>
                        </svg>Website</h6>
                      <span class="text-secondary"><input type="text" name="website" value="<%=social.website%>" id=""></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                      <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-github mr-2 icon-inline">
                          <path
                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                          </path>
                        </svg>Github</h6>
                      <span class="text-secondary"><input type="text" name="github" value="<%=social.github%>"  id=""></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                      <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info">
                          <path
                            d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                          </path>
                        </svg>Twitter</h6>
                      <span class="text-secondary"><input type="text" name="twtter" value="<%=social.twtter%>" id=""></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                      <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger">
                          <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                          <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                        </svg>Instagram</h6>
                      <span class="text-secondary"><input type="text" name="insta" value="<%=social.insta%>" id=""></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                      <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary">
                          <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                        </svg>Facebook</h6>
                      <span class="text-secondary"><input type="text" name="facebook" value="<%=social.facebook%>" id=""></span>
                    </li>
                  </ul>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="submit">
                <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="close">
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Edit Skills,Project/Achievements -->

        <div class="modal fade" id="edittechnical" tabindex="-1" aria-labelledby="technicalModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Technicals</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/profile/upskpoach" method="post" onsubmit="sendData(event,this,'upskpoach')">
                
                <div class="row gutters-sm">
                  <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                      <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>Skills
                        </h6>
                        <div id="skl2">
                        </div>
                        <button class="btn btn-outline-success" onclick="prepare('skl')">Add</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                      <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i
                            class="material-icons text-info mr-2"></i>Projects/Achivements</h6>

                        <div class="" id="pach2">

                        </div>

                        <button class="btn btn-outline-success" onclick="prepare('poach')">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="submit">
                <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="close">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        const prepare = (what) => {
          if (what === 'skl') {
            let skttl = prompt('enter name of skill : ');
            let prctg = prompt(`enter perentage for ${skttl}`);
            // <div class="skl">
            //     <small>Web Design</small>
            //     <div class="progress mb-3" style="height: 5px">
            //       <div class="progress-bar bg-primary" role="progressbar" style="width: 80%"
            //         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            //     </div>
            try {
              let n = Number.parseInt(prctg);
              if (n > 100) {
                return;
              }
            } catch (error) {
              return;
            }
            let skdv = document.createElement('div');
            skdv.innerHTML = `  <small>${skttl}</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: ${prctg}%"
                        aria-valuenow="${prctg}" aria-valuemin="0" aria-valuemax="100"></div>
                        <input type="hidden" name="skl_${skttl}" value="${prctg}">
                        `;

            document.querySelector('#skl2').appendChild(skdv);
            // document.querySelector('#skl').appendChild(skdv);
          } else {
            let pachttl = prompt('enter project/achivement name : ');
            let decs = prompt(`enter description for ${pachttl}`);
            let pachdv = document.createElement('div');
            pachdv.innerHTML = ` <small>${pachttl}</small>
                        <div class="desc mb-3">
                          ${decs}
                        </div>
                        <input type="hidden" name="poach_${pachttl}" value="${decs}">
                        `;

            document.querySelector('#pach2').appendChild(pachdv);
            // document.querySelector('#pach').appendChild(pachdv);
          }
        }

        const sendData = async (event, formob, action) => {
          event.preventDefault();

          let obj = {};
          let formData = new FormData(formob);
          for (let item of formData.entries()) {
            obj[item[0]] = item[1];
          }
          obj.oemail = "<%=res.email%>";
          formob.reset();
          const res = await fetch('/profile/'.concat(action), {
            method: 'post',
            headers: {
              'content-type': 'application/json'
            },
            body: JSON.stringify(obj)
          });

          const json = await res.json();
          alert(json.msg);
        }
      </script>
    </div>
  </div>
  </div>
  <%- include("cpprofile_footer.ejs") -%>